body{
    font-family: 'Montserrat', sans-serif;
    color: #171717;
}

/* Portfolio Button */
.portfolio-info {
    position: fixed;
    top: 200px;
    left: 5px;
    z-index: 1000;
    padding: 4px 8px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    background-color: #fe5e00;
}

.portfolio-info:hover{
    background-color: #FFF;
    color: #1A258D;
    font-weight: 600;
}

/* Navbar */
.navbar{
    background-color: #fff !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand span{
    color: #1A258D;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
}
.nav-item a{
    margin-right: 30px;
    font-weight: 300;
    color: #1A258D !important;
}
.nav-item.active a{
    color: #FE5E00 !important;
    font-weight: 600;
}
.nav-item a:hover{
    color: #FE5E00 !important;
    font-weight: 600;
}
.navbar .icon img{
    max-width: 35px;
}
.navbar .icon span{
    font-weight: 400;
    font-size: 14px;
}
.navbar .icon:hover{
    text-decoration: none;
    color: #FE5E00;
}
.navbar .icon span b{
    font-weight: 600;
    color: #FE5E00;
}

/* Carousel */
.carousel{
    margin-top: 85px;
    height: 450px;
    color: #1A258D;
}
.carousel h1{
    display: block;
    font-family: 'Lora';
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}
.carousel p{
    font-weight: 300;
    margin-bottom: 50px;
}
.carousel .button{
    display: inline-block;
    text-decoration: none;
    background-color: #FE5E00;
    border-radius: 4px;
    height: 40px;
    width: 170px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}
.carousel .row img{
    border-radius: 8px;
}
.carousel .slideimg{
    line-height: 450px;
}

/* Brands */
.brands{
    height: 472px;
    background-color: #F6F7FB;
}
.brands .row{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Features */
.features{
    padding-top: 70px;
    padding-bottom: 40px;
}
.features h3, .designer h3, .cart-tittle h3, #checkoutModal h3, .category h3, .category-breadcrumb h1{
    font-family: 'Lora';
    color: #1A258D;
    font-weight: bold;
}
.features p, .designer p, .cart-tittle p, #checkoutModal p, .category p{
    font-weight: 300;
    margin-bottom: 0;
    font-size: 18px;
    color: #989292;
}
.features .item, .designer .item, .category .item{
    margin-top: 30px;
}
.figure-img {
    position: relative;
    margin-bottom: 0;
}
.figure-img a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}
.figure-img:hover a{
    opacity: 1;
}
.figure-caption h5{
    display: inline-block;
    font-weight: 400;
    margin-top: 20px;
    color: #171717;
}
.figure-caption h5:hover{
    color: #1A258D;
}

/* Designer */
.designer{
    background-color: #F6F7FB;
    padding-top: 70px;
    padding-bottom: 50px;
}
.designer-img{
    position: relative;
}
.designer-img a{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translateX(40px);
}

/* Footer */
footer{
    background-color: #222831;
    height: 258px;
    padding-top: 70px;
    padding-bottom: 50px;
}
footer p{
    color: #FFFFFF;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
}
footer span{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
}

footer .social-links {
    margin: 0 0 10px 0;
}
  
footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}

/* Breadcrumb */
.breadcrumb{
    margin-top: 105px;
    font-size: 18px;
    font-weight: 300;
}
.cart-breadcrumb{
    margin-top: 50px;
}
.category-breadcrumb{
    box-sizing: fit;
    height: 600px;
    margin-top: 88px;
    margin-bottom: 100px;
    background-image: url("../img/banner2.png");
    background-size: cover !important;
    background-position: center center;
}
.category-breadcrumb .breadcrumb{
    margin-top: 0px;
}
.breadcrumb .active{
    color: #1A258D;
}
.breadcrumb a{
    color: #1A258D;
    font-weight: 600;
}
.breadcrumb a:hover{
    text-decoration: none;
    color: #FE5E00;
}
.category-breadcrumb .active{
    color: #171717;
}
.category-breadcrumb a{
    color: #171717;
}

/* Single Product */
.product-thumbnail-container{
    padding: 10px 8px;
    background-color: #fff;
    width: 381px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    transform: translateY(-50px);
}
.product-thumbnail-container .active img{
    border: 2px solid #1ABC9C;
}

.single-product h3{
    font-family: 'Lora';
}
.single-product p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    color: #989292;
}
.qty{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 15px;
}
.qty .btn, .checkout-item .btn{
    height: 38px;
    width: 38px;
    padding: 3px;
    color: #fff;
    display: inline-block;
}
.qty span, .checkout-item span{
    line-height: 38px;
}
.minus{
    background-color: #EAEAEF;
}
.plus{
    background-color: #1ABC9C;
}
.delete{
    background-color: #E91515;
}
.btn-product{
    width: 318px;
    border-bottom: 1px solid #1A258D;
    margin-bottom: 30px;
}
.btn-product .btn, .btn-cancel .btn, .btn-checkout .btn, #checkoutModal .btn{
    padding: 0;
    display: block;
    width: 276px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 30px;
    background-color: #EAEAEF;
    font-size: 18px;
    font-weight: 600;
}
.btn-product .btn-cart, .btn-checkout .btn-cart{
    background-color: #FE5E00;
    color: #FFFFFF;
}
.designed-by h6{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #989292;
}
.designed-by h5, #review .review-content h5, .checkout h5{
    font-size: 18px;
    font-family: 'Lora';
    margin-bottom: 4px;
    color: #171717;
}
.designed-by p, #review .review-content p, .checkout p{
    font-size: 14px;
    color: #171717;
    font-weight: 400;
    margin-bottom: 0;
}
.designed-by p span{
    color: #989292;
    font-weight: 300;
}
.designed-by div.text-center{
    padding-top: 7px;
}

/* Product Description */
.product-description{
    height: 350px;
    background-color: #F0F1F5;
    margin-bottom: 145px;
}
.product-description .nav-link{
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #989292 !important;
}
.product-description .nav-link.active{
    font-weight: 600 !important;
    color: #171717 !important;
}
.product-description .nav-link:hover{
    color: #171717 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
.product-description .tab-content{
    min-height: 330px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0,06);
    text-align: justify;
    font-size: 18px;
    color: #868686;
    line-height: 28px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.product-description #review .review-content p{
    color: #989292;
}

/* Checkout */
.checkout h4{
    color: #1A258D;
    font-family: 'Lora';
    font-size: 20px;
    margin-bottom: 24px;
}
.checkout p{
    color: #989292;
}
.checkout .tax-discount h5{
    font-weight: 600;
}
.checkout .price p{
    color: #1ABC9C;
    font-weight: 600;
}
.checkout .price.promo p{
    color: #E91515;
}
.checkout .price.total p{
    color: #1A258D;
}
.checkout .form-group label{
    font-size: 14px;
}
.checkout .form-control, .checkout .custom-select{
    width: 66.7%;
}
.payment{
    padding: 20px;
    height: 442px;
    background-color: #F0F1F5;
    border-radius: 10px;
}
.item-info{
    border-bottom: 1px solid #A19C9C;
}
.btn-cancel .btn, .btn-checkout .btn{
    width: 160px;
}
#checkoutModal .btn{
    display: inline;
    width: 180px;
}

/* Category */
input[type="checkbox" i] {
    cursor: default;
    padding: initial;
}
.form-check-input[type="checkbox"] {
    border-radius: .25em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.form-check-input:checked {
    background-color: #1A258D;
    border-color: #1A258D;
    background-image: url("../img/cart/check.png");
}
.category{
    margin-bottom: 70px;
}
.category .filter a{
    font-size: 18px;
    text-decoration: none;
    color: #171717;
}
.category .filter a:hover{
    color: #1A258D;
}
.category .filter h5{
    font-size: 24px;
    font-weight: 600;
}
.form-check label, .filter label span{
    margin-left: 10px;
    font-size: 18px;
}
.category .filter label span{
    margin-left: 10px;
}
.p-small{
    font-size: 16px !important;
}
.category-breadcrumb h1{
    margin-bottom: 0px;
    font-size: 64px;
    color: #171717;
}

@media (min-width: 554px) {
    footer{
        height: 216px;
        padding-bottom: 8px;
    }
}
@media (min-width: 768px) {
    .carousel h1{
        margin-top: 70px;
        font-size: 3rem;
    }
    .carousel p{
        font-size: 1.25rem;
    }
    .brands{
        height: 308px;
    }
    .brands .row{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (min-width: 992px) {
    .nav-item{
        font-size: 1.25rem;
    }
    .carousel .slideimg{
        margin-left: 8.333333%;
    }
    .brands{
        height: 220px;
    }
    .brands .row{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .product-description .tab-content{
        overflow-y: hidden;
        max-height: 450px;
    }
}
@media (min-width: 1200px) {
    footer{
        height: 180px;
        padding-bottom: 0;
    }
}