body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand span{
    color: #1A258D;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
}
.nav-item{
    margin-right: 30px;
    font-weight: 300;
}
.nav-item.active a{
    color: #FE5E00 !important;
    font-weight: 600;
}
.navbar .icon img{
    max-width: 35px;
}
.navbar .icon span{
    font-weight: 400;
    font-size: 14px;
}
.navbar .icon:hover{
    text-decoration: none;
    color: #FE5E00;
}
.navbar .icon span b{
    font-weight: 600;
    color: #FE5E00;
}